In [4]:
x=[2,2,3,4,4]
for i in x:
  print(i,type(i))

2 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
4 <class 'int'>

In [10]:
x=[2,'2',3.99,('yellow','orange'),[4,8,0]]
for i in x:
  print(i,type(i))

2 <class 'int'>
2 <class 'str'>
3.99 <class 'float'>
('yellow', 'orange') <class 'tuple'>
[4, 8, 0] <class 'list'>