In [2]:
# create empty dictionary
x=dict()
print(type(x),x)
D = {}
print(type(D))

<class 'dict'> {}
<class 'dict'>

In [6]:
# initialize elements to dictionary
x={1:'vaishnavi',2:56,3:'borkar'}
y={'a':5,'b':8,'c':4,'d':9}
print(x,type(x))
print(y,type(y))

{1: 'vaishnavi', 2: 56, 3: 'borkar'} <class 'dict'>
{'a': 5, 'b': 8, 'c': 4, 'd': 9} <class 'dict'>

In [8]:
# accesing the values of dictionary with key value
front_end={1:'html',2:'css',3:'js'}
print(front_end[2])
print(front_end[1])

css
html

In [14]:
#accessing the elements with get() method
y=front_end.get(2)
print(y)

css

In [13]:
# list in dictionary & len()
skills={1:'html',2:'css',3:'js',4:['java','c','python']}
print(skills)
#access python
print(skills[4][2])
print(len(skills))

{1: 'html', 2: 'css', 3: 'js', 4: ['java', 'c', 'python']}
python
4

In [12]:
#tuple, list, set inside dictionary --allow--yes
p={'A':12,'B':56,'C':(78,90),'D':{90,98,76}}
print(p)

{'A': 12, 'B': 56, 'C': (78, 90), 'D': {90, 76, 98}}

In [15]:
# Example 10 List is converted into dictionary by using dict()
# sequece having each item as pair
P = dict([(1,'apple'),(2,'ball')])
print(P)
print(type(P))

{1: 'apple', 2: 'ball'}
<class 'dict'>

In [17]:
p=dict([['yellow','orange']])
print(p)
#p=dict(['yellow','orange']) -- throw an error

{'yellow': 'orange'}

In [18]:
# update the dictionary value using key
x={1:34,2:90,3:45}
print(x)
x[2]=4567888
print(x)

{1: 34, 2: 90, 3: 45}
{1: 34, 2: 4567888, 3: 45}

In [19]:
# pop /delete one element from dictionary
print(x.popitem())
print(x)
# last element deleted --in stack insertion &  deletion happens from top of stack

(3, 45)
{1: 34, 2: 4567888}