<h2>Contents for set --> Unordered collection of elements</h2>
<ol>
 <li>Empty set</li>
 <li>Initialize set</li>
 <li>set with one element</li>
 <li>set of tuple</li>
 <li>set of list--immutable dt (not possible)</li>
 <li>dublicate set elements</li>
 <li>set() for conversion</li>
 <ul>
 <li>list to set</li>
 <li>tuple to set</li>
 </ul>
 <li>lent() for set elements</li>
</ol>

In [ ]:
# create an empty set 
x=set()
print(x)
print(type(x))

set()
<class 'set'>

In [ ]:
# initialize elements to the set 
x={'A','B','C','D'}
print(x,type(x))

{'C', 'D', 'B', 'A'} <class 'set'>

In [ ]:
P = {1.0,"Bhushan",(1,2,3)}
print(P)

{1.0, (1, 2, 3), 'Bhushan'}

In [ ]:
# set of one element --yes can create
x={"vaishnavi Borkar"}
print(x,type(x))

{'vaishnavi Borkar'} <class 'set'>

In [ ]:
# set of tuples
x={(45,78,986),('max','joy','nick')}
print(x)

{(45, 78, 986), ('max', 'joy', 'nick')}

In [ ]:
#set of lists---list is immutable hence it can't be an element of set i.e mutable
y={[56,89,65],'hellow','world'}
print(y)

TypeError: ignored

In [ ]:
# dublicate set elements --
x={1,2,3,4,5,1}  #it will take it once
print(x)
# dublicate in lists--allow
y=[1,2,3,4,5,1] 
print(y)
# in tuple---allow
y=(1,2,3,4,5,1)
print(y)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5, 1]
(1, 2, 3, 4, 5, 1)

In [ ]:
#set()-->convert any other data type into set
# 1. list to set
x=set(['pink','yellow','red'])
print(x,type(x))
# ex 2
y=[67,98,45,90]  #LIST
Y=set(y)         #CASTING LIST 2 SET
print(Y,type(Y))

{'pink', 'yellow', 'red'} <class 'set'>
{90, 98, 67, 45} <class 'set'>

In [ ]:
#2 . TUPLE TO SET
x=('hellow','world')
print(x,type(x))
y=set(x)
print("conversion",y,type(y))

('hellow', 'world') <class 'tuple'>
conversion {'hellow', 'world'} <class 'set'>

In [ ]:
# length of set
set1={'apple','orange',(23,89)}
print(len(set1))
x=set1.__len__()
print(x)

3
3