In [1]:
#create empty tuple
x=()
print(type(x))

<class 'tuple'>

In [2]:
#initialize element in tuple
x=("vaishnavi",90,"radha",[26,89,10])
print(x)

('vaishnavi', 90, 'radha', [26, 89, 10])

In [11]:
# we cant crete tuple with single element
x=("vaishnavi")
print(type(x))
y=("vaishnavi",)
print(type(y))
# we can crete list with singe element
z=["rita"]
print(type(z))

<class 'str'>
<class 'tuple'>
<class 'list'>

In [12]:
#collection of tuples in a tuple
p=("mango","orange","pineaaple")
q=("lemon","apple","grapes")
r=(23,67,90)
s=(p,q,r)
print(s)

(('mango', 'orange', 'pineaaple'), ('lemon', 'apple', 'grapes'), (23, 67, 90))

In [13]:
#colection of lists in a tuple
a=[67,89,102,67]
b=["A","B"]
c=(a,b)
print(c)

([67, 89, 102, 67], ['A', 'B'])

In [17]:
# is tuple immutable
a=("books","notebooks",[2,96,34])
print(a)
a.apend("mobile")   #tuple is immutable....
print(a)

('books', 'notebooks', [2, 96, 34])

AttributeError: ignored

In [24]:
#len function uses
init = ()
print (init.__len__())
print(len(init))

0
0

In [28]:
#tuple without paranthesis (  )
x="vaishnavi",6,9
print(type(x))
print(x)

<class 'tuple'>
('vaishnavi', 6, 9)