In [ ]:
#1. find torque two mass are given
mass1=67
mass2=89
torq=(mass1+mass2)/(mass1*mass2)
print(torq)

0.026161328190508135

In [ ]:
#2. ferhnite to centigrate
#c=5/9*(f-32)
f=int(input("enter the temperature in ferhenite "))
c=(5/9)*(f-32)
print("{}f is convertet into {}c".format(f,c))

enter the temperature in ferhenite 78
78f is convertet into 25.555555555555557c

In [ ]:
#3. Calculate valume of sphere
PI=3.14
r=int(input("Enter radius of Sphere : "))
volume=((4/3)*PI*(r*r*r))
print("volume of shpere is : ",volume)

Enter radius of Sphere : 5
volume of shpere is :  523.3333333333334

In [ ]:
#4 conver km/hr to m/hr 1km=5/18 
# 5/8*km/hr=m/s
km=int(input("Enter Kilometers : "))
meter=(km*5/18)
print("{} km/hr = {} meters/s ".format(km,meter))

Enter Kilometers : 200
200 km/hr = 55.55555555555556 meters/s

In [ ]:
#5.print days month and year
day=667
y=int(day/365)
month=int((day-y*365)/30)
days=(day-y*365)
print("dd=",days,"year= ",y,"mm= ",month)

dd= 302 year=  1 mm=  10

In [ ]:
# 6 convert distance cm to inches *0.394
distance=int(input("enter distance into centimeter : "))
inches=0.394*distance
print("distance in inches : ",inches)

enter distance into centimeter : 12
distance in inches :  4.728

In [ ]:
# 7. calculation using power operator e**
x=2
print(x**2)

4

In [ ]:
# 8. Calculate
y=4
z=2
r=3
x=((y**2)+(z**4)+(r**3))/5
print(x)

11.8

In [ ]:
# 9.
import math
a=56
b=34
ans=((a**2)+(b**2))/(math.sqrt((a**2)+(a**b)))
print(ans)

8.193382957410681e-27

In [2]:
10.
import math
a=2.3
b=5.6
ans=(math.sqrt((a**2)+(b**2))/(math.sqrt((a**2)+(b**2))))
print(ans)

1.0

In [14]:
# import math
# a=3.6
# b=6.6
# c=45.9
# x=((b)+(math.sqrt((b**2)-(4*a*c))))/(2*a)
# print(x)

In [39]:
#11. Display your portfolio

portfolio={
    'name':"Vaishnavi Borkar",
    'age':"21",
    'education':"bsc"
    }
print("\t My name is {}".format(portfolio['name']))
print("\t Age: {}".format(portfolio['age']),end=" ")
print(" education: {}".format(portfolio['education']))

	 My name is Vaishnavi Borkar
	 Age: 21  education: bsc

In [67]:
# 12 reverse a 3 digit number
no=126
rev=0
while(no>0):
  rev=int((rev*10)+(no%10))
  no=int(no/10)   
print(rev)

621

In [81]:
# number is palimdrom or not 
no=int(input("Enter any number :"))
no2=no
rev=0
while(no>0):
  rev=int((rev*10)+(no%10))
  no=no//10 
if rev==no2:
  print('{} is palimdrom number '.format(no2))  
else :
  print('{} is not palimdrom number '.format(no2))

Enter any number :121
121 is palimdrom number